<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431043145883-0aats5er8n3pog5blc9ihksmuvcos8mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431043145883-0aats5er8n3pog5blc9ihksmuvcos8mq</string>
	<key>API_KEY</key>
	<string>AIzaSyBnDWYNbSDjeBPzVNKVb_X2OlwcXsQ5gAU</string>
	<key>GCM_SENDER_ID</key>
	<string>431043145883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alibaba.gdg</string>
	<key>PROJECT_ID</key>
	<string>gdgalibi</string>
	<key>STORAGE_BUCKET</key>
	<string>gdgalibi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431043145883:ios:db0c337638656a307c563e</string>
</dict>
</plist>